doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Logopederna - Kontakta oss
    meta(name="viewport", content="width=device-width")
    meta(name="description", content="Vi är logopeder. Till oss kommer barn, ungdomar och vuxna som tycker det är jobbigt att läsa och/eller skriva.")
    meta(name="keywords", content="Logopederna i Stockholm, Logopederna, Logoped")
    meta(name="author", content="")

    meta(property="og:title", content="Logopederna")
    meta(property="og:description", content="Vi är logopeder. Till oss kommer barn, ungdomar och vuxna som tycker det är jobbigt att läsa och/eller skriva.")
    meta(property="og:url", content="http://logopederna.se")

    link(rel="dns-prefetch", href="http://ajax.googleapis.com")
    link(rel="dns-prefetch", href="http://www.google-analytics.com/ga.js")

    link(rel="stylesheet", href="css/main.css")
    script(src="js/vendor/modernizr-2.6.2.min.js")

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    //if lt IE 10
      script(src="js/PIE.js")

  body.contact

    //if lt IE 8
      <p class="chromeframe">Du använder en <strong>utdaterad</strong> webbläsare. Var vänlig och <a href="http://browsehappy.com/">uppgradera</a> webbläsaren för att få en bättre upplevelse av Logopederna.se</p>

    include nav.jade

    .container
      .row
        .span8
          h1 info@logopederna.se
          p.lead
            span Hantverkargatan 25 B,  
            span 104 22 Stockholm 
            span Tel: 08-4001 50 30  
        .span4
          .phone.pull-right
            img(src='img/phone.png')
      .row
        .span12
      .row
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Susana Brandhild
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 08-40 01 50 31
              span(itemprop="email")
                a(href="mailto:susana@logopederna.se") susana@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Birgitta R Löfström
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 08-40 01 50 36
              span(itemprop="email")
                a(href="mailto:birgitta@logopederna.se") birgitta@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Katja Ivachova
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 08-40 01 50 35
              span(itemprop="email")
                a(href="mailto:katja@logopederna.se") katja@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Karin Jones Tinghag
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 883
              span(itemprop="email")
                a(href="mailto:karin@logopederna.se") karin@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Ylva Lindström
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 603 888
              span(itemprop="email")
                a(href="mailto:ylva@logopederna.se") ylva@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Carolina Wullt
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 882
              span(itemprop="email")
                a(href="mailto:carolina@logopederna.se ") carolina@logopederna.se 
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Lisbeth Lindquist
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 372 131
              span(itemprop="email")
                a(href="mailto:lisbeth@logopederna.se") lisbeth@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Jenny Pahlberg
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 884
              span(itemprop="email")
                a(href="mailto:jenny@logopederna.se") jenny@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Carin Josephson
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 371 935
              span(itemprop="email")
                a(href="mailto:carin@logopederna.se") carin@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Sofia Häägg
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 371 935
              span(itemprop="email")
                a(href="mailto:sofia@logopederna.se") sofia@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Joanna Olsson
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 371 931
              span(itemprop="email")
                a(href="mailto:joanna@logopederna.se") joanna@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Mia Carlsson Törnqvist
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 890
              span(itemprop="email")
                a(href="mailto:mia@logopederna.se") mia@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Sofia Thulin
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 877
              span(itemprop="email")
                a(href="mailto:sofiat@logopederna.se") sofiat@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Erika Lempke
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 880
              span(itemprop="email")
                a(href="mailto:erika@logopederna.se") erika@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Idah L-Mubiru
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 372 017
              span(itemprop="email")
                a(href="mailto:idah@logopederna.se") idah@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Tanya Valdés
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 372 018
              span(itemprop="email")
                a(href="tanya@logopederna.se") tanya@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Stefan Eriksson
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 372 071
              span(itemprop="email")
                a(href="mailto:stefan@logopederna.se") stefan@logopederna.se
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Arvid Lundkvist
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 372 069
              span(itemprop="email")
                a(href="mailto:arvid@logopederna.se") Arvid Lundkvist
        .span3
          .portrait.stina
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") Jennie R. Löfström
              span(itemprop="jobTitle") Koordinator
              span(itemprop="telephone") 0761 - 372 019
              span(itemprop="email")
                a(href="mailto:jennie@logopederna.se") jennie@logopederna.se
                
    include footer.jade

    // Les JS goes here
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
    script(src="js/bootstrap.js")
    script(src="js/main.js")
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));