doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Logopederna - Utvärdera hjälpmedel
    meta(name="viewport", content="width=device-width")
    meta(name="description", content="Vi är logopeder. Till oss kommer barn, ungdomar och vuxna som tycker det är jobbigt att läsa och/eller skriva.")
    meta(name="keywords", content="Logopederna i Stockholm, Logopederna, Logoped")
    meta(name="author", content="")

    meta(property="og:title", content="Logopederna")
    meta(property="og:description", content="Vi är logopeder. Till oss kommer barn, ungdomar och vuxna som tycker det är jobbigt att läsa och/eller skriva.")
    meta(property="og:url", content="http://logopederna.se")

    link(rel="dns-prefetch", href="http://ajax.googleapis.com")
    link(rel="dns-prefetch", href="http://www.google-analytics.com/ga.js")

    link(rel="stylesheet", href="css/main.css")
    script(src="js/vendor/modernizr-2.6.2.min.js")

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

  body.evaluate

    //if lt IE 8
      <p class="chromeframe">Du använder en <strong>utdaterad</strong> webbläsare. Var vänlig och <a href="http://browsehappy.com/">uppgradera</a> webbläsaren för att få en bättre upplevelse av Logopederna.se</p>

    include nav.jade

    .container
      .row
        .span8
          h1 Utvärdera hjälpmedel.
          p.lead Hjälp oss att bli bättre! Genom att utvärdera de hjälpmedel du använder kan vi förbättra vår verksamhet ytterligare.
        .span4
          .pull-right
            .ico-phone
      form
        .row
          .span6
            fieldset
              legend Personuppgifter
              .row
                .span6
              .control-group
                .controls
                  label Förnamn
                  input(type='text', placeholder='Jonas')
                .controls
                  label Efternamn
                  input(type='text', placeholder='Andresson')
                .controls
                  label Födelsedatum
                  input(type='text', placeholder='ÅÅMMDD')
        .row
          .span6
            fieldset
              legend Program
              span.help-block Bocka för de program du har lånat.
        .row
          .span12
            ul.thumbnails
              li.span2
                .thumbnail
                  img(src='http://placehold.it/300x200', alt='')
                  h5 Stava Rex
                .thumb-check
                  input(type='checkbox', value='')
              li.span2
                .thumbnail
                  img(src='http://placehold.it/300x200', alt='')
                  h5 Spell Right
                .thumb-check
                  input(type='checkbox', value='')
              li.span2
                .thumbnail
                  img(src='http://placehold.it/300x200', alt='')
                  h5 Talsyntes
                  p (Word Read Plus, Claro Read Plus)
                .thumb-check
                  input(type='checkbox', value='')
              li.span2
                .thumbnail
                  img(src='http://placehold.it/300x200', alt='')
                  h5 Gustavas ordböcker
                .thumb-check
                  input(type='checkbox', value='')

    include footer.jade