.footer
  .container
    .row.headlines
      .span2
        ul.unstyled
          li
            h5 Logopederna
          li 
            a(href="kontakt.html#staff") Våra logopeder
          li 
            a(href="kontakt.html") Kontakta oss
          li 
            a(href="kontakt.html") Hitta hit
      .span2
        ul.unstyled
          li
            h5 Utredningar
          li
            a(href="tjanster.html#dyslexi") Dyslexi
          li
            a(href="tjanster.html#sprak-och-tal") Språk och tal
          li
            a(href="tjanster.html#dyskalkyli") Dyskalkyli
      .span2
        ul.unstyled
          li
            h5 Behandlingar
          li
            a(href="tjanster.html#uttal")  Uttal
          li
            a(href="tjanster.html#rost") Röst
          li
            a(href="tjanster.html#sprak") Språk
      .span2
        ul.unstyled
          li
            h5 Utbildning
          li
            a(href="utbildning.html") Föreläsningar
          li
            a(href="utbildning.html") Handledning
      .span2
        ul.unstyled
          li
            h5 Material
          li
            a(href="frageformular.html") Frågeformulär
          //- li Utvärderingar
          //- li Press
      .span2.social
        ul.unstyled
          li
            h5 Logopederna AB
          li 
            span Hantverkargatan 25B, entréplan. <br>
            span 104 22 Stockholm <br>
            span Tel: 08-4001 50 30

//- .settings
//-   .btn-group.btn-group-vertical
//-     a.btn
//-       i.icon-headphones 
//-     a.btn.dropdown-toggle(data-toggle="dropdown")
//-       i.icon-text-height
//-     ul.dropdown-menu.nav.nav-list
//-       li.nav-header Textstorlek
//-       li
//-         a(href="#") Störst
//-       li
//-         a(href="#") Större
//-       li.active
//-         a(href="#") Normal

// Les JS goes here
script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
script(src="js/bootstrap.js")
script(src="js/main.js")
script
  var _gaq=[['_setAccount','UA-40884916-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
