.footer
  .container
    .row.headlines
      .span2
        ul.unstyled
          li
            h5 Logopederna
          li 
            a(href="kontakt#staff") Våra logopeder
          li 
            a(href="kontakt") Kontakta oss
          li 
            a(href="kontakt") Hitta hit
      .span2
        ul.unstyled
          li
            h5 Utredningar
          li
            a(href="tjanster#dyslexi") Dyslexi
          li
            a(href="tjanster#sprak-och-tal") Språk och tal
          li
            a(href="tjanster#dyskalkyli") Dyskalkyli
      .span2
        ul.unstyled
          li
            h5 Behandlingar
          li
            a(href="tjanster#uttal")  Uttal
          li
            a(href="tjanster#rost") Röst
          li
            a(href="tjanster#sprak") Språk
      .span2
        ul.unstyled
          li
            h5 Utbildning
          li
            a(href="utbildning") Föreläsningar
          li
            a(href="utbildning") Handledning
      .span2
        //- ul.unstyled
        //-   li
        //-     h5 Material
        //-   li Inför besöket
        //-   li Utvärderingar
        //-   li Press
      .span2.social
        ul.unstyled
          li
            h5 Logopederna AB
          li 
            span Hantverkargatan 25 B, entréplan. <br>
            span 104 22 Stockholm <br>
            span Tel: 08-4001 50 30

.settings
  .btn-group.btn-group-vertical
    a.btn
      i.icon-headphones 
    a.btn.dropdown-toggle(data-toggle="dropdown")
      i.icon-text-height
    ul.dropdown-menu.nav.nav-list
      li.nav-header Textstorlek
      li
        a(href="#") Störst
      li
        a(href="#") Större
      li.active
        a(href="#") Normal

.pageadd
  .btn-group.btn-group-vertical
    a.btn.btn-success(href="#myModal", data-toggle="modal")
      i.icon-plus.icon-white
    a.btn.dropdown-toggle(data-toggle="dropdown")
      i.icon-user
    ul.dropdown-menu.nav.nav-list
      li.nav-header Kontoinställningar
      li
        a(href="#") Logga ut

