.footer
  .container
    .row.headlines
      .span2
        ul.unstyled
          li
            h5 Logopederna
          li 
            a(href="contact.html#staff") Våra logopeder
          li 
            a(href="contact.html") Kontakta oss
      .span2
        ul.unstyled
          li
            h5 Utredningar
          li Dyslexi
          li Tal och språk
          li Dyskalkyli
      .span2
        ul.unstyled
          li
            h5 Behandlingar
          li Uttal
          li Röst
          li Språk
          li Stammning
      .span2
        ul.unstyled
          li
            h5 Utbildning
          li Föreläsningar
          li Handledning
      .span2
        ul.unstyled
          li
            h5 Hjälpmedel
          li Hjälpmedel
          li Utvärdera
      .span2.social
        ul.unstyled
          li
            h5 Logopederna AB
          li 
            span Hantverkargatan 25 B, entréplan. <br>
            span 104 22 Stockholm <br>
            span Tel: 08-4001 50 30

.settings
  .btn-group.btn-group-vertical
    a.btn
      i.icon-headphones 
    a.btn.dropdown-toggle(data-toggle="dropdown")
      i.icon-text-height
    ul.dropdown-menu.nav.nav-list
      li.nav-header Textstorlek
      li
        a(href="#") Störst
      li
        a(href="#") Större
      li.active
        a(href="#") Normal
