doctype html
html
  head
    meta(charset="utf-8")
    title Logopederna - Frågeformulär
    meta(name="viewport", content="width=1000")
    meta(name="description", content="Vi är logopeder. Till oss kommer barn, ungdomar och vuxna som tycker det är jobbigt att läsa och/eller skriva.")
    meta(name="keywords", content="Logopederna i Stockholm, Logopederna, Logoped")
    meta(name="author", content="")

    meta(property="og:title", content="Logopederna")
    meta(property="og:description", content="Vi är logopeder. Till oss kommer barn, ungdomar och vuxna som tycker det är jobbigt att läsa och/eller skriva.")
    meta(property="og:url", content="http://logopederna.se")

    link(rel="dns-prefetch", href="http://ajax.googleapis.com")
    link(rel="dns-prefetch", href="http://www.google-analytics.com/ga.js")

    link(rel="stylesheet", href="css/main.css")
    script(src="js/vendor/modernizr-2.6.2.min.js")

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

  body.gethere

    //if lt IE 8
      <p class="chromeframe">Du använder en <strong>utdaterad</strong> webbläsare. Var vänlig och <a href="http://browsehappy.com/">uppgradera</a> webbläsaren för att få en bättre upplevelse av Logopederna.se</p>

    include nav.jade

    .container
      .row
        .span8
          h1 Frågeformulär och blanketter
          p.lead Blanketter och formulär inför ditt besök hos oss.
        .span4
          .pull-right
            .ico-phone
      .row
        .span6
          h2 Frågeformulär
          p Inför ditt besök skickas ett frågeformulär ut till din adress. Om detta formulär kommit bort eller om vi av någon anledning inte kunnat skicka ett så går de att ladda ner här, så att du själv kan skriva ut och fylla i det inför ditt besök. Fyll gärna i så mycket information som möjligt!
      .row
        .span12
          ul
            li
              a#tjanster(href="docs/frageformular-elev-upp-till-ak-6.pdf", target="_blank") Formulär för föräldrar till elever upp till årskurs 6 
            li
              a#tjanster(href="docs/frageformular-7-gymnasiet.pdf", target="_blank") Formulär för föräldrar och elever åk 7 t.o.m. gymnasiet
            li
              a#tjanster(href="docs/frageformular-vuxen.pdf", target="_blank") Formulär för personer över 18 år
            li
              a#tjanster(href="docs/frageformular-larare.pdf", target="_blank") Lärarformulär

    include footer.jade