doctype html
html
  head
    meta(charset="utf-8")
    title Logopederna - Kontakta oss
    meta(name="viewport", content="width=1000")
    meta(name="description", content="Vi är logopeder. Till oss kommer barn, ungdomar och vuxna som tycker det är jobbigt att läsa och/eller skriva.")
    meta(name="keywords", content="Logopederna i Stockholm, Logopederna, Logoped")
    meta(name="author", content="")

    meta(property="og:title", content="Logopederna")
    meta(property="og:description", content="Vi är logopeder. Till oss kommer barn, ungdomar och vuxna som tycker det är jobbigt att läsa och/eller skriva.")
    meta(property="og:url", content="http://logopederna.se")

    link(rel="dns-prefetch", href="http://ajax.googleapis.com")
    link(rel="dns-prefetch", href="http://www.google-analytics.com/ga.js")

    link(rel="stylesheet", href="css/main.css")
    script(src="js/vendor/modernizr-2.6.2.min.js")

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

  body.contact

    //if lt IE 8
      <p class="chromeframe">Du använder en <strong>utdaterad</strong> webbläsare. Var vänlig och <a href="http://browsehappy.com/">uppgradera</a> webbläsaren för att få en bättre upplevelse av Logopederna.se</p>

    include nav.jade
    .tab-content
        #A.tab-pane.fade.in.active.default-tab
          .map.kungsholmen
            .container.exstended-container
              .adress
                p.lead
                  span Hantverkargatan 25 B,  
                  span 104 22 Stockholm 
                  span Tel: 08-4001 50 30 
                  span info@logopederna.se
        #B.tab-pane.fade
          .map.lidingo
            .container.exstended-container
              .adress
                p.lead
                  span Stockholmsvägen 33 plan 5,
                  span 181 33 Lidingö
                  span Tel: 073-260 28 82
                  span info@logopederna.se
    .tabbable.tabs-below
      ul.nav.nav-tabs.offices
        li
          span Våra mottagningar:
        li.active
          a(href='#A', data-toggle='tab') Kungsholmen
        li
          a(href='#B', data-toggle='tab') Lidingö


    .container
      .row#staff
        .span12
          h2 Hej! Här är vi som jobbar på Logopederna. <br> Ta gärna kontakt med oss!
        .span3
          .portrait.susanab
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:susana@logopederna.se", data-toggle="popover", data-content="För att maila mig, klicka på namnet eller skriv till susana@logopederna.se", data-original-title="Susanna Brandhild") Susana Brandhild
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 08-40 01 50 31

        .span3
          .portrait.birgittar
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:birgitta@logopederna.se") Birgitta R Löfström
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 08-40 01 50 36
        .span3
          .portrait.katjai
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:katja@logopederna.se") Katja Ivachova
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 08-40 01 50 35
        .span3
          .portrait.karinj
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
              span(itemprop="email")
                a(href="mailto:karin@logopederna.se") Karin Jones Tinghag
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 883
        .span3
          .portrait.ylval
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                a(href="mailto:ylva@logopederna.se") Ylva Lindström
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 603 888
        .span3
          .portrait.carolinaw
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:carolina@logopederna.se ") Carolina Wullt
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 882
        .span3
          .portrait.lisbethl
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:lisbeth@logopederna.se") Lisbeth Lindquist
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 372 131
        .span3
          .portrait.jennyp
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:jenny@logopederna.se") Jenny Pahlberg
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 884
        .span3
          .portrait.carinj
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:carin@logopederna.se") Carin Josephson
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 881
        .span3
          .portrait.sofiah
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:sofia@logopederna.se") Sofia Häägg
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 371 935
        .span3
          .portrait.joannao
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:joanna@logopederna.se") Joanna Olsson
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 371 931
        .span3
          .portrait.miac
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:mia@logopederna.se") Mia Carlsson Törnqvist
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 890
        .span3
          .portrait.sofiat
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:sofiat@logopederna.se") Sofia Thulin
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 877
        .span3
          .portrait.erikal
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:erika@logopederna.se") Erika Lempke
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 602 880
        .span3
          .portrait.idahl
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:idah@logopederna.se") Idah L-Mubiru
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 372 017
        .span3
          .portrait.tanyav
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                a(href="tanya@logopederna.se") Tanya Valdés
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 372 018
        .span3
          .portrait.stefane
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee")
                span(itemprop="email")
                  a(href="mailto:stefan@logopederna.se") Stefan Eriksson
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 372 071
        .span3
          .portrait.arvidl
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") 
                span(itemprop="email")
                  a(href="mailto:arvid@logopederna.se") Arvid Lundkvist
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0761 - 372 069
        .span3
          .portrait.viktoriab
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") 
                span(itemprop="email")
                  a(href="mailto:viktoria@logopederna.se") Viktoria Berglund
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 601 795 
        .span3
          .portrait.juliak
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") 
                span(itemprop="email")
                  a(href="mailto:julia@logopederna.se") Julia Koivistoinen
              span(itemprop="jobTitle") Logoped
              span(itemprop="telephone") 0732 - 60 40 12
        .span3
          .portrait.kajsak
            div(itemscope, itemtype="http://schema.org/Person")
              span(itemprop="employee") 
                span(itemprop="email")
                  a(href="mailto:kajsa@logopederna.se") Kajsa Karlsson
              span(itemprop="jobTitle") Koordinator
              span(itemprop="telephone") 08-4001 50 30

                
    include footer.jade