// Edit event modal
#myModal.modal.hide.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-header
    button.close(type="button", data-dismiss="modal", aria-hidden="true")
      | x
    h3#myModalLabel Lägg till/redigera event
  .modal-body
    form.form-horizontal
      .control-group
        label.control-label(for="inputDate") Datum och tid
        .controls
          input#inputDate(type="text", placeholder="Datum och tid")
      .control-group
        label.control-label(for="inputEventname") Namn på event
        .controls
          input#inputEventname(type="text", placeholder="Namn på event")
      .control-group
        label.control-label(for="inputEventname") Ingress
        .controls
          textarea#inputIngress(placeholder="Ingress", rows="2")
      .control-group
        label.control-label(for="inputDesc") Beskrivning av event
        .controls
          textarea#inputDesc(placeholder="Beskrivning av event", rows="3")
      .control-group
        label.control-label(for="inputWherewhen") Tid och plats
        .controls
          textarea#inputAttend(placeholder="Tid och plats", rows="2")
      .control-group
        label.control-label(for="inputWherewhen") Anmälan
        .controls
          textarea#inputAttend(placeholder="Text om hur man anmäler sig", rows="2")
      .control-group
        label.control-label(for="inputLastdate") Sista anmälningsdag
        .controls
          input#inputLastdate(type="text", placeholder="Ex: 30 april 2099")
      .control-group
        .controls
          label.checkbox
            input#inputRecurring(type="checkbox", value="Recurring")
            span Förekommer även på andra datum.


  .modal-footer
    a.btn.btn-primary(data-dismiss="modal", aria-hidden="true") Spara evenemang