.navbar.navbar-fixed-top.masternav
  .navbar-inner
    .container
      a.brand(href="/")
        img(src="img/logo.png", alt="Logopederna")
      nav
        ul.nav.pull-right
          li
            a#index(href="/") Hem
          li
            a#tjanster(href="tjanster.html") Vad vi gör
          li
            a#kom-till-oss(href="kom-till-oss.html") Kom till oss
          li
            a#utbildning(href="utbildning.html") Utbildning
          li
            a#kontakt(href="kontakt.html") Kontakta oss