.navbar.navbar-fixed-top.masternav
  .navbar-inner
    .container
      a.brand(href="/")
        img(src="img/logo.png")
      ul.nav.pull-right
        li
          a(href="/") Hem
        li
          a(href="services.html") Var vi gör
        li.active
          a(href="gethere.html") Kom till oss
        li
          a(href="education.html") Utbildning
        li
          a(href="contact.html") Kontakta oss