.navbar.navbar-fixed-top.masternav
  .navbar-inner
    .container
      a.brand(href="/")
        img(src="img/logo.png")
      nav
        ul.nav.pull-right
          li
            a#index(href="/") Hem
          li
            a#tjanster(href="tjanster") Vad vi gör
          li
            a#kom-till-oss(href="kom-till-oss") Kom till oss
          li
            a#utbildning(href="utbildning") Utbildning
          li
            a#kontakt(href="kontakt") Kontakta oss