doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Logopederna - Vad vi gör
    meta(name="viewport", content="width=device-width")
    meta(name="description", content="Vi är logopeder. Till oss kommer barn, ungdomar och vuxna som tycker det är jobbigt att läsa och/eller skriva.")
    meta(name="keywords", content="Logopederna i Stockholm, Logopederna, Logoped")
    meta(name="author", content="")

    meta(property="og:title", content="Logopederna")
    meta(property="og:description", content="Vi är logopeder. Till oss kommer barn, ungdomar och vuxna som tycker det är jobbigt att läsa och/eller skriva.")
    meta(property="og:url", content="http://logopederna.se")

    link(rel="dns-prefetch", href="http://ajax.googleapis.com")
    link(rel="dns-prefetch", href="http://www.google-analytics.com/ga.js")

    link(rel="stylesheet", href="css/main.css")
    script(src="js/vendor/modernizr-2.6.2.min.js")

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

    //if lt IE 10
      script(src="js/PIE.js")

  body.services

    //if lt IE 8
      <p class="chromeframe">Du använder en <strong>utdaterad</strong> webbläsare. Var vänlig och <a href="http://browsehappy.com/">uppgradera</a> webbläsaren för att få en bättre upplevelse av Logopederna.se</p>

    include nav.jade

    .container
      .row
        .span8
          h1 Utreder, behandlar och utbildar
          p.lead Vi utreder läs- och skrivsvårigheter/dyslexi, tal och språk samt dyskalkyli. Vi erbjuder behandling/träning av tal- och språksvårigheter samt röstproblem.
        .span4
          .phone.pull-right
            img(src="img/phone.png")
      .row.our-services
        .span12
          div.left
            img(src="img/icon.png")
            h2 Vid språkliga <br> svårigheter 
            p För att stärka den språkliga förmågan samt för att få de rätta verktygen att arbeta vidare på egen hand. För barn och skolelever kan det även vara lämpligt att ... 
            a(href="#") Läs mer...
          div.middle
            img(src="img/icon.png")
            h2 Röstbehandling <br> via remiss.

            p För att stärka den språkliga förmågan samt för att få de rätta verktygen att arbeta vidare på egen hand. För barn och skolelever kan det även vara lämpligt att ... 
            a(href="#") Läs mer...
          div
            img(src="img/icon.png")
            h2 Läsning och <br> skrivning
            p För att stärka den språkliga förmågan samt för att få de rätta verktygen att arbeta vidare på egen hand. För barn och skolelever kan det även vara lämpligt att ... 
            a(href="#") Läs mer...
    hr
    .container
      .row.extended-services
        .span6
          h2 Vi undersöker dina <br> läs- och skrivsvårigheter
          p Anledningen till att man kommer till oss är att läsning och stavning/skrivning inte fungerar så bra som för andra i samma ålder. Dessutom vill man veta om det finns möjligheter att få hjälp i skolan eller på arbetsplatsen så att det inte blir så betungande att läsa och skriva. Vi undersöker dina läs- och skrivsvårigheter och rekommenderar lämpliga åtgärder. Vi visar också de hjälpmedel som du kan använda i skolan/arbetet och hemma.
        .span5.pull-right
          img(src="img/typo.png")                       

    include footer.jade

    // Les JS goes here
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
    script(src="js/bootstrap.js")
    script(src="js/main.js")
    script
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));