doctype html
html
  head
    meta(charset="utf-8")
    title Logopederna - Låt oss utbilda er
    meta(name="viewport", content="width=1000")
    meta(name="description", content="Vi är logopeder. Till oss kommer barn, ungdomar och vuxna som tycker det är jobbigt att läsa och/eller skriva.")
    meta(name="keywords", content="Logopederna i Stockholm, Logopederna, Logoped")
    meta(name="author", content="")

    meta(property="og:title", content="Logopederna")
    meta(property="og:description", content="Vi är logopeder. Till oss kommer barn, ungdomar och vuxna som tycker det är jobbigt att läsa och/eller skriva.")
    meta(property="og:url", content="http://logopederna.se")

    link(rel="dns-prefetch", href="http://ajax.googleapis.com")
    link(rel="dns-prefetch", href="http://www.google-analytics.com/ga.js")

    link(rel="stylesheet", href="css/main.css")
    script(src="js/vendor/modernizr-2.6.2.min.js")

    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

  body.education

    //if lt IE 8
      <p class="chromeframe">Du använder en <strong>utdaterad</strong> webbläsare. Var vänlig och <a href="http://browsehappy.com/">uppgradera</a> webbläsaren för att få en bättre upplevelse av Logopederna.se</p>

    include nav.jade

    .container
      .row
        .span8
          h1 Låt oss utbilda er
          p.lead Föreläsningar om dyslexi, språkstörning, dyskalkyli samt flerspråkighet. Vi kan även skräddarsy egna utbildningar <br> efter önskemål.
        .span4
          .pull-right
            .ico-phone
      .row
        .span12
          .event.apps
            a.btn.btn-warning.editbutton(href="#myModal", data-toggle="modal")
              i.icon-edit.icon-white
            p 13 maj 09:00-15:00 
            h2.promoted Appar, studieverktyg <br> och hjälpmedlel
            p En spännande workshop om hur appar kan användas i utbildningen.
            a.btn.collapsed(data-toggle="collapse", href="#collapsePromo")
              span Läs mer...
              span.hide Stäng
        .span6
          #collapsePromo.collapse
            p De senaste åren har utvecklingen av mobila applikationer fullständigt exploderat. Flera av leverantörerna bakom de hjälpmedel som skrivs ut för elever med läs- och skrivsvårigheter har tagit fram mobila applikationer för att underlätta vardagen. Denna utbildning lämpar sig väl för lärare, specialpedagoger och skolledare.
            h6 Tid och plats
            p Utbildningen hålls i Logopedernas lokaler på Hantverkargatan 25B, Stockholm från 09:00-15:00. Kostnaden är 900kr/pers inkl. moms.
             
            h6 Anmälan
            p För att anmäla er, ring eller skicka ett mail till info@logopederna.se. Anmälan via email är bekräftad då du mottagit ett bekräftelsemail. Vid anmälan uppge namn, skola och faktureringsadress.
             
            p Sista anmälningsdag 30 april 2013. Observera att denna föreläsning även finns tillgänglig andra datum.

      //- .row.event
      //-   .span12
      //-     p.date 13 maj 09:00-15:00 
      //-     h2 Appar, studieverktyg <br> och hjälpmedlel
      //-   .span6
      //-     p.eventlead En intresseväckande och lärorik föreläsning om hur appar <br> och andra hjälmedel kan användas i utbildningen.
      //-     #collapseFour.collapse
      //-       p De senaste åren har utvecklingen av mobila applikationer fullständigt exploderat. Flera av leverantörerna bakom de hjälpmedel som skrivs ut för elever med läs- och skrivsvårigheter har tagit fram mobila applikationer för att underlätta vardagen. Denna utbildning lämpar sig väl för lärare, specialpedagoger och skolledare.
      //-       h6 Tid och plats
      //-       p Utbildningen hålls i Logopedernas lokaler på Hantverkargatan 25B, Stockholm från 09:00-15:00. Kostnaden är 900kr/pers inkl. moms.
             
      //-       h6 Anmälan
      //-       p För att anmäla er, ring eller skicka ett mail till info@logopederna.se. Anmälan via email är bekräftad då du mottagit ett bekräftelsemail. Vid anmälan uppge namn, skola och faktureringsadress.
             
      //-       p Sista anmälningsdag 30 april 2013. Observera att denna föreläsning även finns tillgänglig andra datum.
      //-     a.btn.accordion-toggle.collapsed(data-toggle="collapse", href="#collapseFour")
      //-       span Läs mer...
      //-       span.hide Stäng

    .pageadd
      .btn-group.btn-group-vertical
        a.btn.btn-success(href="#myModal", data-toggle="modal")
          i.icon-plus.icon-white
        a.btn.dropdown-toggle(data-toggle="dropdown")
          i.icon-user
        ul.dropdown-menu.nav.nav-list
          li.nav-header Kontoinställningar
          li
            a(href="#") Logga ut
            
    include footer.jade
    include modals.jade