<div class="footer">
  <div class="container">
    <div class="row headlines">
      <div class="span2">
        <ul class="unstyled">
          <li>
            <h5>Logopederna</h5>
          </li>
          <li> <a href="kontakt.html#staff">Våra logopeder</a></li>
          <li> <a href="kontakt.html">Kontakta oss</a></li>
          <li> <a href="kontakt.html">Hitta hit</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul class="unstyled">
          <li>
            <h5>Utredningar</h5>
          </li>
          <li><a href="tjanster.html#dyslexi">Dyslexi</a></li>
          <li><a href="tjanster.html#sprak-och-tal">Språk och tal</a></li>
          <li><a href="tjanster.html#dyskalkyli">Dyskalkyli</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul class="unstyled">
          <li>
            <h5>Behandlingar</h5>
          </li>
          <li><a href="tjanster.html#uttal"> Uttal</a></li>
          <li><a href="tjanster.html#rost">Röst</a></li>
          <li><a href="tjanster.html#sprak">Språk</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul class="unstyled">
          <li>
            <h5>Utbildning</h5>
          </li>
          <li><a href="utbildning.html">Föreläsningar</a></li>
          <li><a href="utbildning.html">Handledning</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul class="unstyled">
          <li>
            <h5>Material</h5>
          </li>
          <li><a href="frageformular.html">Frågeformulär</a></li>
        </ul>
      </div>
      <div class="span2 social">
        <ul class="unstyled">
          <li>
            <h5>Logopederna AB</h5>
          </li>
          <li> <span>Hantverkargatan 25B, entréplan. <br></span><span>104 22 Stockholm <br></span><span>Tel: 08-4001 50 30</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>