<div class="footer">
  <div class="container">
    <div class="row headlines">
      <div class="span2">
        <ul class="unstyled">
          <li>
            <h5>Logopederna</h5>
          </li>
          <li> <a href="/kontakt#staff">Våra logopeder</a></li>
          <li> <a href="/kontakt">Kontakta oss</a></li>
          <li> <a href="/kontakt">Hitta hit</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul class="unstyled">
          <li>
            <h5>Utredningar</h5>
          </li>
          <li><a href="/vad-vi-gor#dyslexi">Dyslexi</a></li>
          <li><a href="/vad-vi-gor#sprak-och-tal">Språk och tal</a></li>
          <li><a href="/vad-vi-gor#dyskalkyli">Dyskalkyli</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul class="unstyled">
          <li>
            <h5>Behandlingar</h5>
          </li>
          <li><a href="/vad-vi-gor#uttal"> Uttal</a></li>
          <li><a href="/vad-vi-gor#rost">Röst</a></li>
          <li><a href="/vad-vi-gor#sprak">Språk</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul class="unstyled">
          <li>
            <h5>Utbildning</h5>
          </li>
          <li><a href="/utbildning">Föreläsningar</a></li>
          <li><a href="/utbildning">Handledning</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul class="unstyled">
          <li>
            <h5>Material</h5>
          </li>
          <li><a href="/frageformular">Frågeformulär</a></li>
        </ul>
      </div>
      <div class="span2 social">
        <ul class="unstyled">
          <li>
            <h5>Logopederna AB</h5>
          </li>
          <li> <span>Hantverkargatan 25B, entréplan. <br></span><span>104 22 Stockholm <br></span><span>Tel: 08-4001 50 30</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>