<div class="navbar navbar-fixed-top masternav">
  <div class="navbar-inner">
    <div class="container"><a href="/" class="brand"><img src="/img/logo.png" alt="Logopederna"/></a>
      <nav>
        <ul class="nav pull-right">
          <li><a id="index" href="/">Hem</a></li>
          <li><a id="tjanster" href="/vad-vi-gor">Vad vi gör</a></li>
          <li><a id="kom-till-oss" href="/kom-till-oss">Kom till oss</a></li>
          <li><a id="utbildning" href="/utbildning">Utbildning</a></li>
          <li><a id="kontakt" href="/kontakt">Kontakta oss</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>