---
title: Logopederna
description:
keywords:
ID: admin
---

<div class="container">
  <div class="row">
    <div class="span6">
      <h1 data-content-editable="h1"></h1>
      <p class="lead" data-content-editable="p1"></p>
      <div id="status" class="alert hide"></div>
      <form id="login">
        <fieldset>
          <label>Användar-ID</label>
          <input type="text" id="user" placeholder="Användarnamn" class="span3" tabindex="1">
          <label>Lösenord</label>
          <input type="password" id="pass" placeholder="Lösenord" class="span3" tabindex="2">
          <div class="help-block">
            <a id="lostpassword" href="#" data-toggle="popover" data-placement="right" data-content="Kontakta Noviums drift på drift@noviumdesign.se så hjälper vi er." data-original-title="Inloggningsproblem?">
              Problem med att logga in?
            </a>
          </div>
          <input type="submit" class="btn btn-large btn-primary" tabindex="3" value="Logga in">
        </fieldset>
      </form>
    </div>
  </div>
</div>