---
title: Logopederna
description:
keywords:
ID: admin
---

<div class="container">
  <div class="row">
    <div class="span8">
      <h1 data-content-editable="h1"></h1>
    </div>
  </div>
  <form id="login">
    <div class="row">
      <div class="span12">
      	<input type="text" id="user" placeholder="Användarnamn" tabindex="1">
      </div>
    </div>
    <div class="row">
      <div class="span12">
      	<input type="password" id="pass" placeholder="Lösenord" tabindex="2">
      </div>
    </div>
    <div class="row">
      <div class="span12">
      	<input type="submit" class="btn" value="Login" tabindex="3">
      	<span id="status"></span>
      </div>
    </div>
  </form>
</div>