---
title: Logopederna
---

<div class="container">
  <div id="jumbotron" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#jumbotron" data-slide-to="0" class="active"></li>
      <li data-target="#jumbotron" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="item active"><img src="img/slide1.jpg" usemap="#imgmap" alt="Välkommen till våra mottagningar"><map id="imgmap" name="imgmap">
          <area shape="poly" alt="Våra mottagningar" title="Våra mottagningar" coords="122,89,389,70,416,88,424,114,422,239,365,257,332,271,227,274,129,338,171,279,82,280,63,265,60,248,88,113,100,100" href="kontakt.html" target="_self">
          <area shape="poly" alt="Mer om vad vi gör" title="Mer om vad vi gör" coords="501,140,831,122,869,331,803,261,624,268,556,241,502,235" href="tjanster.html" target="_self">
          <area shape="poly" alt="Mer om våra utbildningar" title="Mer om våra utbildningar" coords="459,237,528,238,582,251,631,272,664,310,670,349,661,382,647,402,671,419,707,429,740,426,764,423,736,445,691,454,651,450,620,441,600,428,558,447,500,457,434,459,377,449,332,432,296,403,278,363,289,311,326,276,375,253,421,240" href="utbildning.html" target="_self"></map></div>
      <div class="item"><a href="utbildning.html"><img src="img/slide2.png" alt="Utbildningar hos Logopederna"></a></div>
    </div><img src="img/sll.png" alt="Vi arbetar på uppdrag av Stockholms läns landsting" class="sll"><a href="#jumbotron" data-slide="prev" class="carousel-control left">&lsaquo;</a><a href="#jumbotron" data-slide="next" class="carousel-control right">&rsaquo;</a>
  </div>
  <div class="row">
    <div class="span12 intro three-cols">
      <div class="left">
        <h2>Vilka vi är och vad vi kan göra för dig</h2>
        <p>Vi som jobbar här är legitimerade logopeder. Vi jobbar med dyslexi samt språk- och tal.</p><a href="tjanster.html">Läs mer...</a>
      </div>
      <div class="middle">
        <h2>Hur man kommer till oss på Logopederna</h2>
        <p>Vi arbetar på uppdrag av Stockholms läns landsting. För att träffa någon av våra logopeder behöver du en remiss.</p><a href="kom-till-oss.html">Läs mer...</a>
      </div>
      <div class="relative">
        <h2>Senaste nytt hos Logopederna!</h2>
        <p>Nyheter om mottagningarna, logopedi och annat av intresse.</p><a href="http://www.facebook.com/pages/Logopederna/175311022603957" target="_blank" class="fb-link"><img src="img/icon-facebook.png" alt="Följ oss på Facebook" class="pull-left">Följ oss på Facebook...</a>
      </div>
    </div>
  </div>
</div>