---
title: Logopederna i Stockholm - Kom till oss
description: Här kan du läsa om hur en utredning hos oss går till, samt hur du går till väga för att få en remiss!
keywords: Logopederna, remiss
ID: kom-till-oss
---

<div class="container">
  <div class="row">
    <div class="span8">
      <h1 data-content-editable="h1"></h1>
      <p class="lead" data-content-editable="p1"></p>
    </div>
    <div class="span4">
      <div class="pull-right">
        <div class="ico-phone"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="steps clearfix">
        <div class="first">
          <div class="top">
            <h2 data-content-editable="h2"></h2>
            <p data-content-editable="p2"></p>
          </div>
          <div class="bottom">
            <p class="number">1</p>
          </div>
        </div>
        <div class="second">
          <div class="top">
            <h2 data-content-editable="h3"></h2>
            <p data-content-editable="p3"></p>
          </div>
          <div class="bottom">
            <p class="number">2</p>
          </div>
        </div>
        <div class="third">
          <div class="top">
            <h2 data-content-editable="h4"></h2>
            <p data-content-editable="p4"></p>
          </div>
          <div class="bottom">
            <p class="number three">3</p>
          </div>
        </div>
      </div>
    </div>
    <div class="span6"> 
      <h2 class="step1" data-content-editable="h5"></h2>
      <p class="plead" data-content-editable="p5"></p>
      <p data-content-editable="p6"></p>
    </div>
  </div>
</div>