---
title: Logopederna
description:
keywords:
ID: kom-till-oss
---

<div class="container">
  <div class="row">
    <div class="span8">
      <h1 data-content-editable="h1">Kom till oss</h1>
      <p class="lead" data-content-editable="p1">Så här gör du för att få komma till oss på Logopederna.</p>
    </div>
    <div class="span4">
      <div class="pull-right">
        <div class="ico-phone"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="steps clearfix">
        <div class="first">
          <div class="top">
            <h2 data-content-editable="h2">Remiss</h2>
            <p data-content-editable="p2">För att komma till oss behöver du en remiss från skolhälsovård eller primärvård, dvs din husläkare.</p>
          </div>
          <div class="bottom">
            <p class="number">1</p>
          </div>
        </div>
        <div class="second">
          <div class="top">
            <h2 data-content-editable="h3">Utredning</h2>
            <p data-content-editable="p3">Därefter utreder vi eventuella svårigheter. Detta sker under ett eller flera besök på någon av våra mottagningar.</p>
          </div>
          <div class="bottom">
            <p class="number">2</p>
          </div>
        </div>
        <div class="third">
          <div class="top">
            <h2 data-content-editable="h4">Åtgärd</h2>
            <p data-content-editable="p4">Slutligen sker en återgivning av resultaten, rekommendationer samt eventuell hjälpmedelsutprovning och/eller behandling.</p>
          </div>
          <div class="bottom">
            <p class="number three">3</p>
          </div>
        </div>
      </div>
    </div>
    <div class="span6"> 
      <h2 class="step1" data-content-editable="h5">Remiss</h2>
      <p class="plead" data-content-editable="p5">Vi har avtal med Stockholms läns landsting.</p>
      <p>För att få träffa någon av våra logopeder behövs en remiss från BVC, skolhälsovården eller husläkare. Det innebär att det är kostnadsfritt att komma till oss om man är under 18 år. För vuxna gäller vanlig patientavgift (100kr). När vi har mottagit din remiss kontaktar vi dig.</p>
    </div>
  </div>
</div>