---
title: Logopederna
description:
keywords:
scripts: [page-data, logout, editable]
---

<div class="container">
  <div class="row">
    <div class="span8">
      <h1>Låt oss utbilda er</h1>
      <p class="lead">Föreläsningar om dyslexi, språkstörning, dyskalkyli samt flerspråkighet. Vi kan även skräddarsy egna utbildningar <br> efter önskemål.</p>
    </div>
    <div class="span4">
      <div class="pull-right">
        <div class="ico-phone"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <div class="event apps"><a href="#myModal" data-toggle="modal" class="btn btn-warning editbutton"><i class="icon-edit icon-white"></i></a>
        <p>13 maj 09:00-15:00 </p>
        <h2 class="promoted">Appar, studieverktyg <br> och hjälpmedlel</h2>
        <p>En spännande workshop om hur appar kan användas i utbildningen.</p><a data-toggle="collapse" href="#collapsePromo" class="btn collapsed"><span>Läs mer...</span><span class="hide">Stäng</span></a>
      </div>
    </div>
    <div class="span6">
      <div id="collapsePromo" class="collapse">
        <p>De senaste åren har utvecklingen av mobila applikationer fullständigt exploderat. Flera av leverantörerna bakom de hjälpmedel som skrivs ut för elever med läs- och skrivsvårigheter har tagit fram mobila applikationer för att underlätta vardagen. Denna utbildning lämpar sig väl för lärare, specialpedagoger och skolledare.</p>
        <h6>Tid och plats</h6>
        <p>Utbildningen hålls i Logopedernas lokaler på Hantverkargatan 25B, Stockholm från 09:00-15:00. Kostnaden är 900kr/pers inkl. moms.</p>
        <h6>Anmälan</h6>
        <p>För att anmäla er, ring eller skicka ett mail till info@logopederna.se. Anmälan via email är bekräftad då du mottagit ett bekräftelsemail. Vid anmälan uppge namn, skola och faktureringsadress.</p>
        <p>Sista anmälningsdag 30 april 2013. Observera att denna föreläsning även finns tillgänglig andra datum.</p>
      </div>
    </div>
  </div>
  <div class="row event">
    <div class="span12">
      <p class="date">13 maj 09:00-15:00 </p>
      <h2>Appar, studieverktyg <br> och hjälpmedlel</h2>
    </div>
    <div class="span6">
      <p class="eventlead">En intresseväckande och lärorik föreläsning om hur appar <br> och andra hjälmedel kan användas i utbildningen.</p>
      <div id="collapseFour" class="collapse">
        <p>De senaste åren har utvecklingen av mobila applikationer fullständigt exploderat. Flera av leverantörerna bakom de hjälpmedel som skrivs ut för elever med läs- och skrivsvårigheter har tagit fram mobila applikationer för att underlätta vardagen. Denna utbildning lämpar sig väl för lärare, specialpedagoger och skolledare.</p>
        <h6>Tid och plats</h6>
        <p>Utbildningen hålls i Logopedernas lokaler på Hantverkargatan 25B, Stockholm från 09:00-15:00. Kostnaden är 900kr/pers inkl. moms.</p>
        <h6>Anmälan</h6>
        <p>För att anmäla er, ring eller skicka ett mail till info@logopederna.se. Anmälan via email är bekräftad då du mottagit ett bekräftelsemail. Vid anmälan uppge namn, skola och faktureringsadress.</p>
        <p>Sista anmälningsdag 30 april 2013. Observera att denna föreläsning även finns tillgänglig andra datum.</p>
      </div><a data-toggle="collapse" href="#collapseFour" class="btn accordion-toggle collapsed"><span>Läs mer...</span><span class="hide">Stäng</span></a>
    </div>
  </div>
</div>