---
title: Logopederna i Stockholm - Vad vi gör
description: Här kan du läsa om vad vi på Logopederna jobbar med, och vad vi kan göra för dig!
keywords: logopederna, dyslexi
ID: vad-vi-gor
---

<div class="container">
  <div class="row">
    <div class="span8">
      <h1 data-content-editable="h1"></h1>
      <p class="lead" data-content-editable="p1"></p>
    </div>
    <div class="span4">
      <div class="phone pull-right">
        <div class="ico-phone"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12 three-cols our-services">
      <div class="left">
        <div class="ico-books"></div>
        <h2 data-content-editable="h2"></h2>
        <p data-content-editable="p2"></p>
        <ul class="unstyled">
          <li><a href="#dyslexi" data-toggle="tab">Dyslexi</a></li>
          <li><a href="#sprak-och-tal" data-toggle="tab">Språk och tal</a></li>
          <li><a href="#dyskalkyli" data-toggle="tab">Dyskalkyli</a></li>
        </ul>
      </div>
      <div class="middle">
        <div class="ico-speaking"></div>
        <h2 data-content-editable="h3"></h2>
        <p data-content-editable="p3"></p>
        <ul class="unstyled">
          <li><a href="#sprak" data-toggle="tab">Språk</a></li>
          <li><a href="#uttal" data-toggle="tab">Uttal</a></li>
          <li><a href="#rost" data-toggle="tab">Röst</a></li>
        </ul>
      </div>
      <div>
        <div class="ico-edu"></div>
        <h2 data-content-editable="h4"></h2>
        <p data-content-editable="p4"></p><a href="/utbildning">Läs mer...</a>
      </div>
    </div>
  </div>
</div>
<div class="faded-text">
  <div class="container">
    <div class="row extended-services">
      <div class="span6 tab-content">
        <div id="dyslexi" class="tab-pane fade in active default-tab">
          <h2 data-content-editable="h5"></h2>
          <p data-content-editable="p5"></p>
        </div>
        <div id="sprak-och-tal" class="tab-pane fade">
          <h2 data-content-editable="h6"></h2>
          <p data-content-editable="p6"></p>
        </div>
        <div id="dyskalkyli" class="tab-pane fade">
          <h2 data-content-editable="h7"></h2>
          <p data-content-editable="p7"></p>
        </div>
        <div id="sprak" class="tab-pane fade">
          <h2 data-content-editable="h8"></h2>
          <p data-content-editable="p8"></p>
        </div>
        <div id="uttal" class="tab-pane fade">
          <h2 data-content-editable="h9"></h2>
          <p data-content-editable="p9"></p>
        </div>
        <div id="rost" class="tab-pane fade">
          <h2 data-content-editable="h10"></h2>
          <p data-content-editable="p10"></p>
        </div>
      </div>
    </div>
  </div>
</div>