---
title: Logopederna
description:
keywords:
---

<div class="container">
  <div class="row">
    <div class="span8">
      <h1>Vad vi gör</h1>
      <p class="lead">Vi utreder och behandlar svårigheter med språk, tal, läs- och skrivsvårigheter/dyslexi samt matematik. Vi hjälper även till med utprovning och förskrivning av tekniska hjälpmedel.</p>
    </div>
    <div class="span4">
      <div class="phone pull-right">
        <div class="ico-phone"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12 three-cols our-services">
      <div class="left">
        <div class="ico-books"></div>
        <h2>Utredning </h2>
        <p>Vi utför olika typer av logopediska utredningar. Efter utredningen skrivs ett omfattande utlåtande med ev. diagnos, rekommendationer och utprovning av passande hjälpmedel.</p>
        <ul class="unstyled">
          <li><a href="#dyslexi" data-toggle="tab">Dyslexi</a></li>
          <li><a href="#sprak-och-tal" data-toggle="tab">Språk och tal</a></li>
          <li><a href="#dyskalkyli" data-toggle="tab">Dyskalkyli</a></li>
        </ul>
      </div>
      <div class="middle">
        <div class="ico-speaking"></div>
        <h2>Behandling</h2>
        <p>Vi behandlar svårigheter inom olika områden. Vi anpassar träning och insats efter individens förutsättningar och behov.</p>
        <ul class="unstyled">
          <li><a href="#sprak" data-toggle="tab">Språk</a></li>
          <li><a href="#uttal" data-toggle="tab">Uttal</a></li>
          <li><a href="#rost" data-toggle="tab">Röst</a></li>
        </ul>
      </div>
      <div>
        <div class="ico-edu"></div>
        <h2>Utbildning</h2>
        <p>Våra besökare har möjlighet att ta del av föreläsningar, workshops samt eventuell hjälpmedelsutprovning/inträning. Vi handleder även skolpersonal.</p><a href="utbildning.html">Läs mer...</a>
      </div>
    </div>
  </div>
</div>
<div class="faded-text">
  <div class="container">
    <div class="row extended-services">
      <div class="span6 tab-content">
        <div id="dyslexi" class="tab-pane fade in active default-tab">
          <h2>Dyslexi</h2>
          <p>Om man upplever att läsning och stavning/skrivning inte fungerar så bra som för andra i samma ålder, kan man komma till oss för en utredning. Dyslexi innebär att man har svårigheter med den tekniska läsningen, vilket kan resultera i långsamt lästempo och svårigheter med läsförståelse. Det medför ofta även svårigheter med stavning och skrivförmåga. Vi undersöker dina läs- och skrivsvårigheter och rekommenderar lämpliga åtgärder, både för hemmet och för skolan/jobbet. Vi utprovar och förskriver även tekniska hjälpmedel. Hos oss jobbar logopeder som även kan utreda på engelska, finska, ryska och spanska.</p>
        </div>
        <div id="sprak-och-tal" class="tab-pane fade">
          <h2>Språk och tal</h2>
          <p>Man har olika lätt att tala och förstå språk oavsett modersmål. Om de språkliga svårigheterna hindrar dig/ditt barn i studier, arbete eller det sociala livet, kan det bli aktuellt att besöka en logoped. Man kan till exempel ha svårt att lära sig nya ord, att uttrycka sig i tal och skrift, att ta till sig information genom att lyssna m.m. Svårigheter med språket kan i längden påverka läs- och skrivförmågan. Vi undersöker de språkliga förmågorna och hjälper till med behandling vid behov. Hos oss jobbar logopeder som även kan utreda på engelska, finska, ryska och spanska.</p>
        </div>
        <div id="dyskalkyli" class="tab-pane fade">
          <h2>Dyskalkyli</h2>
          <p>Specifika räkneproblem/dyskalkyli innebär att man har svårt med grundläggande räkneförmåga, som de fyra räknesätten samt att per automatik känna igen siffror och antal. Svårigheterna märks ofta tidigt, i årskurs ett eller tidigare. Dessa personer klarar dock dock ofta andra områden bra, såsom resonerande eller logiskt tänkande, så länge det inte rör sig om räkning och matematik. Vi öndersöker dina räknesvårigheter och rekommenderar lämpliga åtgärder.</p>
        </div>
        <div id="sprak" class="tab-pane fade">
          <h2>Språk</h2>
          <p>Vid språkliga svårigheter/språkstörningar kan man behöva logopedkontakt för att stärka den språkliga förmågan samt för att få de rätta verktygen att arbeta vidare på egen hand. För barn och skolelever kan det även vara lämpligt att förskole- eller skolpersonal får handledning av logoped. En språkbehandling föregås i regel av språklig utredning.</p>
        </div>
        <div id="uttal" class="tab-pane fade">
          <h2>Uttal</h2>
          <p>Vi erbjuder logopedbehandling vid uttalssvårigheter hos barn och ungdomar.</p>
        </div>
        <div id="rost" class="tab-pane fade">
          <h2>Röst</h2>
          <p>Vi träffar barn och vuxna med röstproblem som heshet, klumpkänsla eller rösttrötthet. Du kan komma för röstbehandling via remiss från öron-, näs- och halsläkare eller foniater. Du kan även komma via remiss från din husläkare. Inför nybesöket hos logoped bör en stämbandsundersökning vara genomförd hos öron-, näs- och halsläkare eller foniater.</p>
        </div>
      </div>
    </div>
  </div>
</div>